
body{background-color: rgb(55, 27, 55);
}



.first{color:rgb(176, 161, 161);
    font-size: 120%;
}
#select{position: absolute;
    left: 15.2%;
    top: 3.7%;
    background: none;
    color: white;
    border: 0;
}
    #seen{color: white;}
    #image{position: absolute;
        left: 20%;
        top: 3.5%;
    
    }
    input{ position: relative;
        top: -850px;
    }
 
    
    