*{box-sizing: border-box;

}
body{
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}
  

#imm{width: 1.5%;
    position: relative;
    left: 4%;
    top: -30px;
    
}

#hud{font-size:250%;
    position: relative;
    left: 4%;
    display:inline-block;
    color: palevioletred;
    top: -30px;
}
.str{font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 150%;
    display: block;
    word-spacing: 2px;
    position: relative;
    left: 4%;
    top: 40px;
}

#first{background-color: hsla(180, 56%, 72%, 0.391);
    height:700px;
    margin: 0%;
    padding: 0%;

}

#par{position: relative;
    top: 50px;
    left: 4%;
}

button{background-color:rgb(150, 33, 72);
    border-top-left-radius:50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-style: solid;
    position: relative;
    top: -400px;
    width: 200px;
    height: 50px;
    font-size: 120%;
    left: 4%;
}

#circle{position: relative;
    left: 40%;
    top: -200px;
}
#try{border-style: solid;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius:50px;
    position: relative;
    top: -750px;
    width: 10%;
    left: 20%;
    background-color: aliceblue;
}
#di{border-width: 2px;
    border-style: solid;
    border-color:rgba(0, 0, 0, 0.302);
    margin: 5%;
    border-radius: 10px;
    height: 800px;

    
}
#mw{position: relative;
    left: 30%;
    top: -100px;
    width: 70%;
}
#grow{position: relative;
    top: 180px;
    left:5%;
    font-size: x-large;
}
#pp{position: relative;
    left: 5%;
    top:180px;
}
#set{border-width: 2px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.302);
    border-radius: 10px;
    
}

#sit{width: 50%;
    position: relative;
    top: 100px;
    left: 5%;
}

.hh{position: relative;
    left: 70%;
    top: -200px;
}
#third{
    border-radius: 10px;
    border-color: rgba(0, 0, 0, 0.302);
    border-style: solid;
    border-width: 2px;
    margin-top: 3%;
    height: 750px;
}
#gr{position: relative;
    left:35%;
    top: -120px;
    width: 60%;
}
.pe{
   position: relative;
   left: 5%;
   top: 200px;

}

#bbt{
    border-radius: 10px;
    width: 30%;
    position: relative;
    top: 750px;
    left: 30%;
    border: solid;
    background-color:beige;
    padding-left: 70px;
    border-color:whitesmoke;
    border-width: 2px;

    margin-right: -30px;
}
#but{
    position: relative;
    top: -10px;
    width: 60%;
    background-color: rgb(150, 33, 72);
    left: 10%;
    color: white;
    
}
#sed{background-color:rgb(34, 52, 66);
    position: relative;
    top: 1400px;
    height: 100%;
    height: 600px;
    color: white;

}
#GDD{
    position: relative;
    top: 200px;
    display: inline-block;
    left: 5.1%;
    font-size: 250%;
}

#mess{width: 2%;
    position: relative;
    top: 200px;
    left: 5%;

}
#map{
    width: 1.0%;
    position: relative;
    top: 260px;
    left:-5.5%
}
#ppp{
    position: relative;
    top: 185px;
    left: 7%;
}
#phone{
    width: 1.0%;
    position: relative;
    top: 200px;
    left: 5.0%;
}
#ee{
    position: relative;
    top: 165px;
    left: 7%;
}
#email{
    width: 1.0%;
    position: relative;
    top: 175px;
    left: 5%;
}
#exam{
    position: relative;
    left: 7%;
    top: 135px;
}
#copy{
    width: 1.5%;
}
#coo{
    position: relative;
    top: 150px;
    left: 75%;
}
#ll{
    list-style: none;
    position: relative;
    left: 40%;
    top: -70px;
}

#we{
    list-style: none;
    position: relative;
    left: 10%;
    top: -90px;
    
}
#face{
    width: 2%;
    margin-right: 5px;
}
#twit{
    width: 2%;
    margin-right: 5px;
}
#ins{
    width: 2%;
}
#www{
    position: relative;
    left: 30%;
    top: -210px;
}